.Home {
    height: 100%;
    width: 100%;
    background: var(--background);
  }

  #welcome {
    margin: 50 0 0 5%;
  }
  #recommended {
    width: 50%;
    margin: 50 0 0 5%;
  }
  
  #rec-btn {
    margin-right: 0;
    background: rgba(255, 255, 255, 0.178);
    color: white;
    padding: 5px;
    cursor: pointer; /* Changes cursor to pointer */
    transform: none;


  }

  #rec-btn:active {
    /* Override styles here to remove click effects */
    /* Example: if there's a transform on active, you can reset it */
    transform: none;
    /* Reset any other style properties that are changed on active */
}