.Home {
    height: 100%;
    width: 100%;
    background: var(--background);
    /* border: 5px solid rgb(174, 214, 63);  */
  }

 
  #welcome {

    margin: 50 0 0 5%;
        /* border: 5px solid rgb(174, 214, 63);  */
    width: 40%;

  }
  #recommended {

    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align children to the right */
    margin: 0 0 0  5%; /* Ensure you add 'px' units where needed */
    /* border: 3px solid rgba(255, 255, 255, 0.348); */
  }
  
  #rec-btn {
    background: var(--boxes-background);
    color: var(--main-font-color);
    cursor: pointer;
    width: 100px;
    border-radius: 30px;
    padding: 10px 15px;
    margin: 0 0 10px 0;
    /* border: 3px solid rgb(190, 39, 19); */
    /* Removed float: right; since we're now using flexbox for alignment */
  }
  

  #rec-btn:hover {
    background: var(--problem-outline);

  }

  #rec-word {
    font-size: 10px;

  }


  #logged-in {
    display: flex; /* Enable flexbox */
    flex-direction: column;
  }
  
  

  #problems-main {
    /* border: 3px solid rgb(190, 39, 19);  */
    width: 100%;
  }
  
  #side-bar {
      /* border: 3px solid rgb(190, 39, 19); */

    margin: 30px 5% 15px 5%;
    position: absolute;
    right: 0; /* Positions the sidebar to the right */
    max-width: 375px;
    width: 30%;

    
  }
  .timer {
    margin: 0 0 5% 0;

  }


  #logged-in {
  }
  
 
.stats {
}

