.Home {
    height: 100%;
    width: 100%;
    background: var(--background);
    /* border: 5px solid rgb(174, 214, 63);  */
    overflow: auto;


  }

  #welcome {
    margin: 50 0 0 5%;
  }
  #recommended {
    width: 50%;
    height: fit-content;
    margin: 20 0 0 5%;
    flex-grow: 1; /* Allows this section to take up available space */
          /* border: 3px solid rgba(255, 255, 255, 0.348);  */

  }

  #rec-btn {
    background: var(--boxes-background);
    color: var(--main-font-color);
    padding: 10px;
    cursor: pointer; /* Changes cursor to pointer */
    transform: none;
    width: fit-content;
    float: right;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 10px 15px 10px 15px;

  }



  #logged-in {
    display: flex; /* Enable flexbox */
    flex-direction: column;
  }
  
  

  
  #side-bar {
    margin: 5% 5% 0 5%;
    position: absolute;
    right: 0; /* Positions the sidebar to the right */
    height: 100%; /* Optional: Adjust based on your layout needs */
    max-width: 400px;
    width: 30%;

    
  }
  .timer {
    margin: 0 0 5% 0;

  }


  #logged-in {
    display: flex;
    flex-direction: column;
  }
  
 
