.Home {
  height: 100%;
  width: 100%;
  background: var(--background);
  overflow-y: auto;
}

#recommended {
  height: fit-content;
  margin: 0 0 0 5%; 
}
  
#rec-btn:hover {
  background: var(--problem-outline);
}

#rec-word {
  font-size: 10px;
}
 
#problems-main {
  margin-top: 20px;
}
  
#side-bar {
  padding: 30px 0 15px 0;
  width: 30%;
  max-width: 375px;
}

.timer {
  margin: 0 0 5% 0;
}

#home-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-start; 
  margin: 0 5% 0 5%;
}
  
#left-main-header {
  margin: 40 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between; 
}

#welcome {
  width: 70%;
}

#rec-btn {
  background: var(--boxes-background);
  color: var(--main-font-color);
  cursor: pointer;
  width: 100px;
  border-radius: 30px;
  padding: 10px 15px;
  height: fit-content;
  margin-bottom: 0;
}

#home-main {
  width: 60%;
}