.Home {
    height: 100%;
    width: 100%;
    background: var(--background);
  }

  #welcome {
    margin: 50 0 0 5%;
  }
  #recommended {
    width: 50%;
    height: fit-content;
    margin: 50 0 0 5%;
    flex-grow: 1; /* Allows this section to take up available space */
      /* border: 3px solid rgba(255, 255, 255, 0.348);  */

  }
  
  #rec-btn {
    margin-right: 0;
    background: rgba(255, 255, 255, 0.178);
    color: white;
    padding: 5px;
    cursor: pointer; /* Changes cursor to pointer */
    transform: none;


  }

  #logged-in {
    display: flex; /* Enables Flexbox */
    flex-direction: column; /* Stacks content vertically */
  }
  

  
  #side-bar {
    margin: 120 5% 0 5%;
    position: absolute;
    right: 0; /* Positions the sidebar to the right */
    height: 100%; /* Optional: Adjust based on your layout needs */
    max-width: 400px;
    width: 30%;
  }
  .timer {
    margin: 0 0 20px 0;
  }
  .stats {

  }

  #logged-in {
    display: flex;
    flex-direction: column;
  }
  
  #rec-btn:active {
    /* Override styles here to remove click effects */
    /* Example: if there's a transform on active, you can reset it */
    transform: none;
    /* Reset any other style properties that are changed on active */
}

