.Profile {
    height: 100%;
    width: 100%;
    background: var(--background);
    color: var(--font-color);
    overflow-y: auto;


  }





#profile-content {
  display: flex; /* Enable flexbox */
  flex-direction: row;
  padding: 40px 20px 0px 20px;

}

#profile-side-bar {
  background: var(--boxes-background);
  border-radius: 34px;
  padding: 30;
  margin: 70 0 50 5%;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: fit-content

  
}

#main-info {
  display: flex; /* Activates Flexbox layout */
  justify-content: space-between; /* Spaces out the child elements */
  align-items: start; /* Aligns items to the start of the flex container */
  width: 100%; /* Ensures the container takes full width */
  margin: 0 0 30px 0;
}

#profile-img {
  border-radius: 50%; /* This creates the circular shape */
  object-fit: cover; /* This ensures the image covers the area without stretching */
  margin-right: 30;
  height: 90px;
}

#info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#log-out-btn {
  background-color: var(--button-color);
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 60%;
  border-radius: 30px;
  padding: 5 5 5 5;
  align-self: center;
  font-size: 10px;
  
}

#edit-btn, #save-btn{
  background-color: var(--button-color);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 5 5 5 5;
  width: 50%;
  border-radius: 30px;
  width: 100%;
  bottom: 0;
  border-radius: 30px;
  font-size: 10;
}

#save-btn {
  background-color: rgb(91, 202, 76);
}

#log-out {
  border-top: 1px solid var(--profile-seperators);
  display: flex; /* Enables Flexbox */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  padding: 20px 0 0 0;  
}

#info-extra {
  border-top: 1px solid var(--profile-seperators);
  display: flex; /* Enables Flexbox */
  flex-direction: row;
  padding: 15px;
}

#leetcode-icon {
  height: 30px;
  width: 30px;
      /* border: 2px solid rgb(4, 167, 255);  */

}

#leetcode-username {
  font-weight: 200;
  width: 100%;
  margin: 0 0 0 10px;
}

#history-header {
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: end;
    /* border: 2px solid rgb(4, 167, 255);  */

  justify-content: space-between; /* Ensures elements are spaced out */
  
}

#history-title {
  width: fit-content;
  height: fit-content;

  /* border: 2px solid rgb(15, 55, 77);  */
}


#history {
  width: 55%;
  /* border: 2px solid rgb(4, 167, 255);  */

  margin: 0 5% 0 5%;
  /* border: 3px solid rgba(33, 179, 104, 0.348);  */

}

#problems {
  /* border: 1px solid var(--boxes-background);  */
  width: 100%;
  height:70vh;
  overflow-y: scroll;
  background: linear-gradient(to top, #6a6a6a29 1%, #ffffff00 15%);


  
}

#sort-by {

  margin: 8% 1% 2% auto;
}

#info-name{
  font-size: 15px;
}


/* Responsive adjustments */
@media (max-width: 1200px) {
  #profile-side-bar {
    padding: 20 20 30 20;
    margin: 50 0 50 5%;
    display: flex;
    width: 200px;
    
  }
  
  #main-info {
    align-items: center;
    flex-direction: column;

  }

  #log-out {
    border-top: 1px solid var(--profile-seperators);
    padding: px 0 0 0;  
    width: 100%;
  }
  #profile-img {
    border-radius: 50%; /* This creates the circular shape */
    object-fit: cover; /* This ensures the image covers the area without stretching */
    margin: 0 0 10px;

  }

  #info-name{
    font-size: 18px;
  }
  #info-email {
    font-size: 13px;
  }

  #info {
    align-items: center;
  }

  #leetcode-icon {
    height: 25px;
    width: 25px;
        /* border: 2px solid rgb(4, 167, 255);  */
  
  }
  
  #leetcode-username {
    font-size: 18px;
  }
  

  
}

