.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1000;
}

.modal-content {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: auto; 
    margin: auto; 
    background-color: var(--pop-up-background);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    position: relative;
}

#warning {
    color: rgb(229, 61, 61);
}

#cancel-button {
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    position: absolute; 
    top: 0; 
    right: 0; 
    margin: 10px 10px 0 0;
}

#confirm-button {
    background-color: var(--button-color);
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 40%;
    border-radius: 30px;
    padding: 5 5 5 5;
    align-self: center;
    font-size: 10px;
    margin: 10px;
}