.contact {
  flex-direction: column;
  display: flex;
  padding: 30px;
  border-top: 1px solid var( --boxes-background);
  overflow-y: auto;
  width: 450;
  
}

#email-btn {
  background: var(--button-color);
  color: white;
  cursor: pointer;
  width: 20%;
  min-width: fit-content;
  border-radius: 30px;
  padding: 10px 15px;
  margin: 0 0 10px 0;
  align-self: center;
  font-size: 10;
}
#boxes {
  display: flex;
  flex-direction: column;
  width: 92.9%;
  
}
@media (max-width: 465px) {
  h2 {
    font-size: 40%;
    margin-left: 13%;
  }
  #contact-names {
    display: flex;
    width: 77%;
    margin-left: 13%;
  }
  #boxes {
    display: flex;
    flex-direction: column;
    width: 77%;
    margin-left: 13%;
  }
}

   
}
