.footer {
  /* Other styles */
  padding: 20px 40px;
  border: .75px solid var(--footer-border-color);
  font-size: 10px; /* Ensure you include the unit, like px */
  width: 100%;
  bottom: 0;
  position: static
  

}
  

  #text {
    text-align: center;
    color: var(--footer-text-color);
  }