.footer {
    /* border: 2px solid rgb(255, 0, 0);  */
    box-sizing: border-box;
    padding: 20 40 20 40;
    border: .75px solid var(--footer-border-color);
    font-size: 10;  
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
    position: fixed;
    bottom:0;

  }
  

  #text {
    text-align: center;
    color: var(--footer-text-color);
  }