.loading-container {
    margin: 20% 30% 20 30% ;
    padding: 10 10 10 10;
    height: 150;
    display: flex;        /* Enable Flexbox */
    flex-direction: column;
    align-items: center;
    align-self: center;
}

#loading-msg {
    color: var(--main-font-color);
}