.navbar {
    /* border: 2px solid rgb(255, 0, 0);  */
    background-color: var(--nav-bar-background);
    padding: 20 60 20 60;
    height: 20px;
    border-bottom: .75px solid var(--nav-bar-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo {
    /* border: 2px solid rgb(4, 167, 255);  */
    display: flex;
    align-items: center; /* This centers the child vertically */
}

#main {
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 16;
    font-weight: 700;
}

.links {
    margin-top: 22px;
    display: flex;
    align-items: center; /* Aligns items vertically center */
    gap: 20px; /* Adds space between navigation items */
    
}

#home, #profile {
    text-decoration: none;
    color: var(--main-font-color);
    margin-left: 30px;
    font-size: 16px;

}

#profile-icon {
    color: var(--main-font-color);
}

.nav-link {
    transition: .4s ease-in-out ; /* Smooth transition for the border color */
    padding-bottom: 18px;
    border-bottom: 1.5px solid transparent; /* Default state */


}

.nav-link-active {
    border-bottom: 1.5px solid var(--main-font-color); /* Default state */
    padding-bottom: 18px;

}

.nav-link:hover {
    transition: .4s  ease-in-out ; /* Smooth transition for the border color */
    border-bottom: 1.5px solid var(--main-font-color); /* Visible border on hover */

}

#profile-icon {
    width: 20px;
    margin-bottom: -4px;

}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.theme-switch {
    display: inline-block;
    height: 22px; /* Adjusted for consistency */
    position: relative;
    width: 40px;
    margin: 0; /* Removes default margin */
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #ffffff;
    bottom: 2px;
    content: "";
    height: 18px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 18px;
}

input:checked + .slider {
    background-color: #424242;
}

input:checked + .slider:before {
    transform: translateX(18px);
    background-color: #FFF;
}

.slider.round {
    border-radius: 22px;
}

.slider.round:before {
    border-radius: 50%;
}