.navbar {
    background-color: var(--nav-bar-background);
    padding: 10 60 10 60;
    height: 3%;
    border-bottom: .75px solid var(--nav-bar-border);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}
  
#main {
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 13;
    font-weight: 700;
}

#home {
    margin: 0 25 0 0 ;
}

#home, #profile {
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 13px;
    padding-bottom: 13%;
}

#switch {
    padding-right: 20;
    margin-left: auto; 
}

.nav-link {
    border-bottom: 2px solid transparent;
}

.nav-link-active {
    border-bottom: 2px solid var(--main-font-color);
}

.nav-link:hover {
    border-bottom: 2px solid var(--main-font-color);

}

#profile-icon {
    width: 14px;
    margin-top: 2.5%;
}