.new-user-info {
    margin: 50 30% 100 30% ;
    padding: 10 10 10 10;
    height: 150;
    display: flex;        /* Enable Flexbox */
    transition: 1s ease-in-out ; /* Smooth transition for the border color */
    flex-direction: column;
    align-items: center;
}

.loading-container {
    margin: 50 30% 100 30% ;
    padding: 10 10 10 10;
    height: 150;
    display: flex;        /* Enable Flexbox */
    transition: 1s ease-in-out ; /* Smooth transition for the border color */
    flex-direction: column;
    align-items: center;
}

#submit-btn {
    background-color: rgb(27, 148, 247);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 2 2 2 2;
    width: 50%;
    margin-left: 10px;
    border-radius: 30px;
    
    
  }
  
  #uname {

    border-radius: 10px;
    padding: 2 2 2 2;
    width: 100%;
    text-align: center;
  }

  #form{
    align-items: center;
    display: flex;
  }