.new-user-info {
    margin: 50 30% 100 30% ;
    padding: 10 10 10 10;
    height: 150;
    display: flex;        /* Enable Flexbox */
    flex-direction: column;
    align-items: center;
}

#alert {
    transition: all .7s ease-in-out; /* Adjust time and easing function as needed */

}