.history#problem{
  padding: 20px 25px 30px 25px;
  border-top: 1.5px solid var(--problem-outline);
  justify-content: space-between;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  align-items: center;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--faint-font-color) transparent;
}

#problem-metadata.history {
  display: grid;
  grid-template-columns: auto auto auto; 
  align-items: center;
}

#date-completed.history, #duration.history {
    color: var(--problem-date-color);
    font-style: italic;
    margin: 0 0 0 20px;
    white-space: nowrap; 
    padding: 0 10px; 
    flex-shrink: 0;
}

#title-status-container.history {
  align-items: center;
  display: flex;
  align-items: center;
  width: 14vw;
}

#user-stats {
  grid-column: 4; 
  display: grid;
  grid-template-columns: auto auto; 
  grid-gap: 10px; 
  align-items: flex-end; 
  justify-content: center;
  }

#title.history {
  margin-left: 12px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

#status {
  height: 30px;
}



