.problem {
    padding: 20px 25px 30px 25px;
    border-top: 1.5px solid rgba(255, 255, 255, 0.207);
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    max-width: 800px; /* Make sure this is 800px, not 800 */
}


#problem-metadata {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align metadata items to the start */
    margin: 10px 0 10px 0;

}

.title-status-container {
    display: flex;
    align-items: center;
}

#title {
    margin-left: 10px;
    font-size: 22px;
    font-weight: 600;
}

#category, #difficulty {
    padding: 7px 15px;
    border-radius: 34px;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap; /* Prevents breaking the content into multiple lines */

}

#category, #difficulty, #buttons {
    margin: 10 0 0 30px;
    
}

#buttons {
    display: flex;
    flex-direction: row; /* For smaller screens */
    align-items: center; /* Center buttons vertically */
    margin-left: auto; /* Push to the right */
  /* border: 3px solid rgba(255, 255, 255, 0.348);  */

}


#start-pause, #complete, #incomplete {
    margin: 0 10px 0 10px;
    height: 25px;
}



.problem, .title-status-container, #category, #difficulty, #buttons, #problem-metadata {
    transition: all 1s ease-in-out; /* Adjust time and easing function as needed */
}
/* Responsive adjustments */
@media (max-width: 900px) {
    .problem {
        flex-direction: row;
        align-items: center;
        height: fit-content;

    }

    #status {
    }



    #buttons {
        justify-content: flex-start;
        flex-direction: column;
        align-self: center; /* Center buttons in the container */
    
        
    }
    #start-pause, #complete, #incomplete {
        margin: 7px ; /* Adjust as needed for spacing */
    }
}
