.history#problem{
    padding: 20px 25px 30px 25px;
    border-top: 1.5px solid var(--problem-outline);
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    min-width: fit-content;
    transition: all .7s ease-in-out; /* Adjust time and easing function as needed */
      /* border: 3px solid rgba(255, 255, 255, 0.348);  */
      display: grid;
  grid-template-columns: auto auto; /* Adjust based on content */
  grid-gap: 10px; /* Space between grid items */
  align-items: center; /* Align items vertically within their cell */

}

#problem-metadata.history {
    display: grid;
  grid-template-columns: auto auto auto; /* Adjust based on content */
          /* border: 3px solid rgba(255, 255, 255, 0.348);  */
    align-items: center; /* Aligns items vertically in the center, if needed */

}

#date-completed.history, #duration.history {
    color: var(--problem-date-color);
    font-style: italic;
    margin: 0 0 0 20px;
    white-space: nowrap; /* Keep date on one line */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Use ellipsis for overflow */
    padding: 0 10px; /* Add some padding for spacing, adjust as needed */
    flex-shrink: 0; /* Prevent the date from shrinking */

}

#title-status-container.history {
    align-items: center;
    display: flex;
    align-items: center;
    width: 14vw;
   
}

#user-stats {
    grid-column: 4; /* Position user stats in the 4th column */
    display: grid;
    grid-template-columns: auto auto; /* Adjust based on content */
  grid-gap: 10px; /* Space between grid items */
    align-items: flex-end; /* Align items to the right */
    justify-content: center;
  }

#title.history {
    margin-left: 10px;
          /* border: 3px solid rgba(218, 18, 18, 0.879);  */
          white-space: nowrap; /* Keeps the text on a single line */
    overflow: hidden; /* Hides text that overflows the element's box */
    text-overflow: ellipsis; /* Adds an ellipsis to indicate overflow */

    
}

#category.history, #difficulty.history {
    padding: 7px 15px;
    border-radius: 34px;
    color: var(--main-font-color);
    white-space: nowrap; /* Prevents breaking the content into multiple lines */

}





#status {
    height: 30px;
        transition: all 0.3s ease; /* Smooth transition for size change */

        
}



