.problem {
    padding: 20px 25px 30px 25px;
    border-top: 1.5px solid var(--problem-outline);
    display: flex;
    justify-content: space-between;

    height: fit-content;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    transition: all .7s ease-in-out; /* Adjust time and easing function as needed */
      /* border: 3px solid rgba(255, 255, 255, 0.348);  */

}


#problem-metadata {
    display: flex;
    justify-content: space-between; /* Spread out content */
    flex-direction: column;
    align-items: flex-start; /* Align metadata items to the start */
    margin: 10px 0 10px 0;
    /* border: 3px solid rgba(255, 255, 255, 0.348);  */
    width: 50%;
}

.title-status-container {
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 90%;
    /* border: 3px solid rgba(255, 255, 255, 0.348);  */

}

#title {
    margin-left: 12px;
    white-space: nowrap; /* Keeps the text on a single line */
    overflow: hidden; /* Hides text that overflows the element's box */
    text-overflow: ellipsis; /* Adds an ellipsis to indicate overflow */
    /* border: 3px solid rgb(248, 37, 37);  */
    width: 100%;
}

#category, #difficulty {
    padding: 7px 15px;
    border-radius: 34px;
    color: white;
    white-space: nowrap; /* Prevents breaking the content into multiple lines */
    
}


#category, #difficulty, #buttons {
    margin: 10px 0 0 30px;

    
}

#buttons {
    display: flex;
    flex-direction: row; /* For smaller screens */
    align-items: center; /* Center buttons vertically */
    margin-left: auto; /* Push to the right */
  /* border: 3px solid rgba(255, 255, 255, 0.348);  */

}

#status {
    height: 20px;
    transition: all 0.3s ease; /* Smooth transition for size change */
    box-shadow: 2px 2px 2px rgba(75, 75, 75, 0.096);
    border-radius: 50%; /* Make it round */

}

#start-pause, #complete, #incomplete {
    margin: 0 10px 0 10px;
    height: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.096);
    border-radius: 50%; /* Make it round */
    transition: all 0.3s ease; /* Smooth transition for size change */

}

#complete.active:hover, #start-pause.active:hover, #incomplete.active:hover {
    transform: scale(1.15); /* Double the element's size on hover */
    cursor: pointer;
}





/* Responsive adjustments */
@media (max-width: 900px) {
    .problem {
        flex-direction: row;
        align-items: center;
        height: fit-content;

    }



    #buttons {
        justify-content: flex-start;
        flex-direction: column;
        align-self: center; /* Center buttons in the container */
    
        
    }
    #start-pause, #complete, #incomplete {
        margin: 7px ; /* Adjust as needed for spacing */
    }
}

