.SignIn {
    margin: 50 30% 100 30% ;
    padding: 10 10 10 10;
      height: 150;
      display: flex;        /* Enable Flexbox */
      transition: 1s ease-in-out ; /* Smooth transition for the border color */
        flex-direction: column;
        align-items: center;


        
        
}

#main-text {
    font-size: 30;
    font-weight: 30;
}

#googleButton {
    background-image: url('../extra/Fixed.svg'); /* Path to your image */
    background-size: cover; /* Cover the entire button area */
    background-position: center; /* Center the image on the button */
    width: 200px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    border: none; /* Optional: removes the border */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    /* Add other styling as needed */
    border-radius: 30px; /* All corners will be rounded with a radius of 10px */

}