.SignIn {
    margin: 50 30% 100 30% ;
    padding: 10 10 10 10;
    height: 150;
    display: flex;      
    flex-direction: column;
    align-items: center;         
}

#main-text {
    font-size: 30;
    font-weight: 30;
}

#googleButton {
    background-image: url('../extra/Fixed.svg'); 
    background-size: cover; 
    background-position: center; 
    width: 200px; 
    height: 40px; 
    border: none; 
    cursor: pointer; 
    border-radius: 30px; 
}