.stats{
  border-radius: 34px;
  /*padding: 10 10 10 100;*/
  background: var(--boxes-background);
  display: grid;
  /*grid-template-columns: 1fr 1fr;*/
  width: 100%;
  height: 500px;
}
#table {
  display: grid;
  padding-bottom: 50%;
  color: var(--main-font-color);
  /*padding-left: 28%;*/
  /*padding-right: -100%*/
  justify-content: space-between;
}
#titles {
  width: 10000px;
  padding-left: 2%;
}
#add {
  width: 10000px;
  padding-left: 5%;
  padding-top: 4%;
}

#val {
  padding-top: 2%;
  text-align: center;
  width: 10000px;
  padding-right: 50%;
}
#val2 {
  padding-top: 0%;
}

#box {
  padding-left: 10%;
}
