.stats{
  border-radius: 34px;
  background: var(--boxes-background);
  padding: 30px;
  height: 500px;

}


#bottom-stats{
  border-top: 1.5px solid var(--problem-outline);
  padding: 5px 0 0 0;
  /* border: 2px solid rgb(4, 167, 255); */
  height: 60%;


}

#list {
    padding: 10px 20px 20px 20px;

}
#three {
  display: flex;

  justify-content: space-between; /* Align items on the main-axis to have space between them */
  align-items: center; /* Align items on the cross-axis in the center */
  width: 100%; /* Ensure the div takes full width to spread title and number apart */
}

#number {
  white-space: nowrap; /* Prevent wrapping */

}


#stack {
  padding: 20px 0 0 0;
  /* border: 2px solid rgb(4, 167, 255); */
  height: 100%;
  align-items: center;
}

#box {
  /* border: 2px solid rgb(4, 167, 255); */

  display: row;
  justify-content: center;
  align-items: center;
  

}


#switch {
  float: right;
}

