.stats{
  border-radius: 34px;
  background: var(--boxes-background);
  padding: 30px;
  height: fit-content;
}

#bottom-stats{
  border-top: 1.5px solid var(--problem-outline);
  padding: 5px 0 0 0;
  height: 60%;
}
#questions {
  color: white;
  margin-left: 10%;
  width: 91%;
  font-size: 11px;

}

#questions2 {
  color: white;
  font-size: 17px;;
  margin-left: 17%;
  margin-top: -10%;
  text-decoration: underline;
}

#list {
  padding: 10px 20px 20px 20px;
}

#three {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
  
}

#title3 {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  width: 90%;
}

#number {
  white-space: nowrap;
}

#switch {
  float: right;
}

#top-3-words {
  font-style: italic;
  width: fit-content;
  padding: 3 7 0 7;
  border-radius: 2px;
  font-size: 17px;
}