.App {
  height: 100%;
  width: 100%;
  background: var(--background);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--faint-font-color) transparent;
}

.intro {
  display: flex;
  flex-direction: row;
  margin: 100px;
  padding: 30px;
  align-items: center;
}

#head {
  font-size: 35px;
}

#liner {
  font-weight: 100;
  font-size: 20px;
  margin-top: -15px;
}

#header {
  padding: 20px;
  text-align: center;
}

#header, .code-box {
  margin: 20px;
}

.code-box {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: 'Courier New', Courier, monospace;
  padding: 30px;
  border-radius: 8px;
  min-width: 250px;
  height: 100px;
}

#animatedText {
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(20, end), blink .75s step-end infinite;
}

#get-started-btn {
  background: var(--boxes-background);
  color: var(--main-font-color);
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 15px;
  margin: 0 0 10px 0;
}

#app-content {
  align-items: center;
  flex-direction: column;
  display: flex;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

@media (max-width: 800px) {
  .intro {
    flex-direction: column; 
  }
}