.App {
  height: 100%;
  width: 100%;
  background: var(--background);
  overflow-y: scroll
  
  
}

.intro {
  display: flex;
  flex-direction: row; /* Stack children horizontally by default */
  justify-content: space-between; /* Space out children */
  align-items: center; /* Align children vertically */
  margin: 100px 20% 0 20%;
  /* border: 3px solid rgba(255, 255, 255, 0.348); */
  padding: 30px;
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column; /* Stack children vertically */
    margin: 100px 10px; /* Reduce margin */
  }
  #header {
    margin-left: 0px;
  }
}


#head {
  font-size: 35px;
}

#liner {
  font-weight: 100;
  font-size: 20px;
  margin-top: -10;
}

#header {
  margin-left: 40px;
  text-align: center;
}


.code-box {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: 'Courier New', Courier, monospace;
  padding: 30px;
  border-radius: 8px;
  min-width: 250px;
  margin: 0 auto;
  height: 100px;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

#animatedText {
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(20, end), blink .75s step-end infinite;
}


#get-started-btn {
  background: var(--boxes-background);
  color: var(--main-font-color);
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 15px;
  margin: 0 0 10px 0;
  /* border: 3px solid rgb(190, 39, 19); */
  /* Removed float: right; since we're now using flexbox for alignment */
}