.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  background-attachment:fixed;
  overflow: auto;




}

.intro {
     margin: 100 20% 0 20% ;
      /* border: 3px solid rgba(255, 255, 255, 0.348);  */
      padding: 10 10 0 10;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center; /* Center children horizontally */
      display: flex;        /* Enable Flexbox */
      transition: 1s ease-in-out ; /* Smooth transition for the border color */
      border-radius: 30px; /* All corners will be rounded with a radius of 10px */
}

#left, #right {
  padding: 2% 5% 2% 5%;
  /* border: 2px solid rgb(91, 39, 39); */
  width: 100%; 
}

#left {
  grid-column: 1;
  right: 0;
  /* border-right: 3px solid rgba(255, 255, 255, 0.348);  */
}
#right {
  grid-column: 2;
}

#logo {

}

#liner {
  margin-top: -40;

}


.code-box {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: 'Courier New', Courier, monospace;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
  height: 100;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

#animatedText {
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(20, end), blink .75s step-end infinite;
}
